<h2>Professional Details</h2>
<img src= "https://i.pinimg.com/originals/a9/e8/89/a9e889ebd99a9aca8974e99a98ed4694.jpg" height="210" />
<div>
    <span>Name : </span>
    <span>{{details["0"]}}</span>
</div>
<div>
    <span>Age : </span>
    <span>{{details["1"]}}</span>
</div>
<div>
    <span>Location : </span>
    <span>{{details["2"]}}</span> 
</div>
<div>
    <span>Experience : </span>
    <span>{{details["3"]}}</span>
</div>
<div>
    <span>Degree : </span>
    <span>{{details["4"]}}</span>
</div>
